<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:insert="createReport"></div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" th:text="#{label.z.report}">Z-Report</h4>
                </div>
                <div class="modal-body">
                    <span th:text="|${zReport} #{out.was.earned.today}|"/>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    $(document).ready(function(){
        $('#myModal').modal('show');
    });
</script>

</body>
</html>